  <h1>Frequently Asked Questions</h1>
  <p><em><strong>What is the Tron Main Net?</strong></em></p>
<p>The Tron main net is a network of computers that run the Tron blockchain. The Tron blockchain is a permanent ledger of transactions, sometimes called an <em>immutable record</em> between the addresses that have been created with cryptography. The ledger keeps track of the 100 Billion cryptocurrency coins, known as TRX, that were minted when the blockchain started up. The blockchain also allows the creation of custom tokens and 'smart contracts' which execute code using a Virtual Machine that provides CPU, memory and storage to distributed applications.</p>
  <p><em><strong>
What is the Community Node project?
  </strong></em></p>
<p>
Community Node works to build the Tron community by providing tools and services which are useful and speed up the dapp development process. Our first project was the Keystore Recovery Tool that lets you create a new tronscan keystore file. Other projects we are working on are an Airdrop GUI application to send TRX or Tokens to Tron addresses based on a list of token holders or candidate voters, and trondata.io which will make available "big data," indexed searches, and time saving API's no longer available on standard Tron nodes. We educate the Tron community with articles, like how to create and run a witness node, basics of the bancor exchanges, strategies for a successful token, and a guide to using tronweb to send TRX.</p>
 
<p>Our Mission is to become an intellectual asset for the community as well as for those who come after us. We ask that you vote for us as a trusted Tron Super Representative, which will allow us to help the Tron community, new developers, and you! If elected to Super Representative, we will use our block rewards to fund our IT costs and our project initiatives, starting with TronData. </p>

  <p><em><strong>
What is TronData?
  </strong></em></p>

<p>The Tron blockchain holds a tremendous amount of information, however it is not grouped in ways that aggregate that information usefully. With TronData, we hope to "connect the dots" between all the transactions in the blockchain. 
</p>

<p>For instance when you buy our TRUC token on the blockchain exchange, TRX leaves your account, TRUC goes into your account, there is a record of ‘exchangeTransactionContract’. But nowhere do you get a listing that says something like
</p>
<p>
	Bought 50000 TRUC Price: 0.000835 Total: 41.75 TRX
</p>
<p>
	We hope to be able to generate these trade reports by tax time 2020. 
</p>
<p>TronData will migrate the Tron Full node and Solidity node databases into a SQL format to give an API that has endpoints which include transactions to and from each address. 
</p>
<p>The standard Tron API also limits the information about holders of TRC20 tokens. It doesn’t give information about TRC20 tokens belonging to each address. It only provides this information through a search through the token’s holders. With TronData, we will join these two tables to show TRC20 token holdings when viewing address details.
</p>
<p>Creating new ways to display the Tron blockchain data in meaningful ways is the heart of the TronData project.
</p>

  <p><em><strong>Someone said something about earning TRX. How does that work?  </strong></em></p>
<p>Some Super Representatives pay their voters for their votes. Community Node has taken a new approach to rewards unlike any other project. Instead of giving out the TRX or our token (TRUC) directly, we put the voter rewards back into the coin. We will put 100% of our voter rewards back into the value of TRUC!
</p>
<p>
This does two things:
</p>
<p>
1 – By holding TRUC and voting for CN, you gain rewards through the increasing value of your assets. 
</p>
<p>
2 – This prevents a situation commonly seen among other SRs whose token holders see a constant decreasing value of their asset that outweighs what they receive in rewards. 
</p>
  <p><em><strong>Which wallet do we use?
  </strong></em></p>
<p>Community Node doesn’t endorse any particular wallet. There are several good wallets that have been developed. The first, tronscan, has become the most widely used wallet and de facto blockchain explorer. TronLink is a wallet extension for the Chrome browser with which you can log into tronscan and gain its functionality. Also available are hardware wallets like the Ledger nano, and smartphone wallets.
</p>
  <p><em><strong>Can we vote from the wallet?
  </strong></em></p>
<p>
Yes, the wallet is the way that you vote. You can temporarily “freeze” the TRX in your wallet for Tron Power. Each Tron Power is worth 1 vote. You can vote for Super Representatives in the Tron SR tab on Tronscan.org. After 3 days you can unfreeze your Tron Power to recover the TRX, so nothing is ever lost or spent during the voting process.
</p>
  <p><em><strong>How often do I need to vote?
  </strong></em></p>
<p>
Once you freeze your TRX and vote, that vote will be counted in the elections that repeat every 6 hours. It will stick until you change it. Just set it, and forget it.
</p>
  <p><em><strong>Is there a support email for this SR?
  </strong></em></p>
<p><A HREF="communitynode@gmail.com">communitynode@gmail.com</A> 
</p>
  <p><em><strong>What do you like about Tron?
  </strong></em></p>
<p>
The notion of a network of dapps running on homemade tokens is fascinating and the possibilities are endless. Tron produces blocks every 3 seconds which can confirm transactions faster than Visa and allow nearly real time gaming activity. The Tron Virtual Machine, or TVM is a computer operating system without a host - it lives on the Tron main net and can execute code stacks. Tron also purchased bittorrent, and the pieces are in place to do incredible things.
</p>
  <p><em><strong>Why is the Super Representative important?
  </strong></em></p>
<p>
Justin Sun has researched the subject thoroughly and come up with DPoS as the best hybrid solution to blockchain consensus. It is a good balance between security and control. DPoS assigns the Super Representative a tremendous amount of trust, as there are 27 of these elected organizations who produce and verify the blocks that make up the blockchain. We should have every confidence in each of them to do their jobs. After all, this is a $2 billion dollar blockchain and growing.
</p>
  <p><em><strong>How do I participate?
  </strong></em></p>
<p>
Easy!
</p>
<p><ol>
<li>Step 1: Set an amount you want to invest in Community Node.</li>
<li>Step 2: Freeze a portion and vote for CN (Ex. 95%).</li>
<li>Step 3: Buy TRUC with the remaining portion (Ex. 5%).</li>
<li>Step 4: Watch your assets grow.</li>
</ol>
</p>
  <p><em><strong>How much does the Super Representative earn?
  </strong></em></p>
<p>
127 Super Representative Candidates (SRc) will share 115,200 TRX every 6 hours based on their percentage of total votes. 
<br />
E.g. Candidates with 1% of total votes will receive about 4,500 TRX every day.
</p>
<p>
Top 27 Super Representatives (SR) each earn 32 TRX for each block, which are produced every 3 seconds. So each SR earns 32 TRX every 81 seconds. That works out to 34,133 TRX/day.
</p>
  <p><em><strong>How much does it cost to be a Super Representative?
  </strong></em></p>
<p>
The application fee for Super Representative is 9,999 TRX. Once elected, you are expected to run a fortified ‘witness’ node with at least 32 cores and 96 Gigabytes of RAM. This is a minimum requirement, as you will also want to run a backup witness node, and a host of other nodes in a supporting cluster.
</p>
  <p><em><strong>Can anyone run a node?
  </strong></em></p>
<p>Sure. There are a few kinds of nodes. Full Nodes keep a copy of the blockchain. Solidity Nodes provide information on which blocks have been validated, or deemed “solid.” A Witness Node is a Full Node which the Super Representatives run. Only the witness nodes produce income. If you decide to run a Full Node or a Solidity node, its usefulness depends on how much it gets used. In other words, if no dapps or wallets connect to your node, it is not adding much to the network.
</p>
  <p><em><strong>What's a dapp?
  </strong></em></p>
<p>
A dapp is a <em>distributed application.</em> Dapps execute programs on the blockchain, called Smart Contracts. These smart contracts allow for the transfer of TRX and tokens based on TRX. A new feature of internet games is the ability to actually own the items earned while playing the game. These items exist as special tokens.
</p>
<p>
Building dapps is not a requirement of Community Node members, though we would love to help you write your first dapp.
</p>
  <p><em><strong>Walk us through the dapp process.
  </strong></em></p>
<p>
 A developer writes their program in a smart contract language, which currently is Solidity. The Tron Virtual Machine, or TVM, converts the smart contract into bytecode which is like a computer's native language. Then it gets uploaded to the blockchain where it becomes permanent.
</p>