<h1>Wallets</h1>
<p>There are <a href="https://tron.network/wallet?lng=en">several wallets to choose from</a>. You can use the online wallet at <a href="http://www.tronscan.org">tronscan.org</a>, or a hardware wallet like a trezor or a ledger. Chrome browser has a wallet extension, and there are wallets for mobile.	</p>

<p>Wallet security is a very important subject, and you can't afford not to educate yourself about it. This article, <a href="https://medium.com/@Panama_TJ/the-ten-commandments-of-crypto-security-3cd616185d40">The 10 Commandments of Crypto Security</a>, explains the potential dangers, and the benefits of having a good security policy.</a>

<p>A Ledger is one of the most secure ways to store your TRX. Here is a screencast showing how it works.</p>
<p>	<iframe width="560" height="315" src="https://www.youtube.com/embed/nujXhXAC9E8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
	
	
<p>If you are interested in setting up a wallet at tronscan, we have put together a screencast to guide you through it.</p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/-L2zZW8UAww?start=58" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>

