<h1>Tokens for Campaign Promotions</h1>
<p>
Use a crypto token to promote your grassroots campaign!
</p>
<p>
Cryptocurrency tokens are a great way to get people involved in your campaign, and issuing your own cryptocurrency token doesn't have to be a big affair. There's no need for an "ICO" coin offering where you sell your tokens on the open market. In fact, your token doesn't have to have a market value. Giving them away for free is a great way to promote your campaign!
</p>
<p>

You can create a Tron based crypto token worth anything you choose. One of the most popular ideas right now is to issue a promotional campaign token, or 'tchotchke.'  For about $20 you can create a nearly unlimited number of promotional tokens, and then use them like digital campaign buttons or bumper stickers. Use them together with twitter or a telegram chat group to get your supporters excited about your campaign! Use the <a href="https://twitter.com/goseedit">@GoSeedit</a> bot to distribute tokens to every one of your followers! 
</p>
<p>


* Make your own "MyCampaign2018" token. <br />
* Automatically give a token to everyone who joins your Telegram channel.<br />
* Use tokens to build participation via twitter campaigns and contests.<br />
* Or assign a nominal value of $1 to your token and sell them for small donations.
</p>
<p>

Campaigns have long used limited edition, collectible campaign swag to promote their causes. Now you can issue your own digital swag!  Each token carries with it a URL to your website and a short description. Use them to direct traffic to your campaign!
</p>
<p>
We can help you launch your token campaign. Community Node can help you set up all of your accounts and assist you in issuing your token. Or we can take a more active role, issuing the token for you and taking care of the distribution. Please see our <a href="https://www.communitynode.org/services">Services page</a> for pricing and information.

</p>
 
<p>
** Community Node is a non-partisan, unaffiliated organization. Cooperation with a campaign does not constitute an endorsement of any candidate.
</p>
