<p>
<h1>Community Node Issues TronHelp Token</h1>
</p>
<p>
Community Node has been riding the leading edge of Tron blockchain development since day one and we are now offering our services to the Tron community at large. 
</p>
<p>

Our <a href="https://t.me/TronHelp">Tron Help Desk</a> is open 24 hours a day to answer your questions. Many of the Tron Super Representatives from all around the globe are also there day or night. This is customer support that we all provide to Tronix.
</p>
<p>
<h2>
Community Node is the token specialist!
</h2>
</p>
<p>

We can show you how to base a grassroots campaign on the TRON20 tokens as a cost effective and cutting edge advertising medium. Combine social media with a token robot to automatically distribute your custom token to your followers, or have your tokens "airdropped" to active Tron wallets.
</p>
<p>

Or give the tokens some value and exchange them for campaign donations and fundraisers like a digital bumper sticker that never peels or fades.
</p>
<p>

Your web development team can even use your token as a coupon for discounted goods and services.
</p>
<p>

Your token can be as official an issuing as you desire. Combine your token with a Smart Contract to satisfy the legalese needed for a securitized Initial Token Offering.
</p>
<p>

Soon Community Node will offer assistance in deploying Smart Contracts and dapps for the Tron Virtual Machine. Community Node will be at the forefront of every Tron initiative with the knowledge and experience to help you unlock the power of the Tron main net.
</p>
<p>

We were the first Super Representative candidate to produce blocks on the Tron test net, and we are experts at running Tron witness nodes. We are available for hire to help set up your node, or to even run your node temporarily so you never miss a block (we've actually produced more than 25,000 blocks for other SR's on the main net!)
</p>
<p>
<h2>
Community Node Issues the TronHelp Token
</h2>
</p>
<p>

We have created an assistance token that everyone can use to pay for services. The Community Node TronHelp token can be purchased on Tronscan and can be accepted by anyone. Its will be offered for 6 months as an Initial Token Offering beginning on August 20 with a value of 1:1 TRX, and can be redeemed for greatly reduced rates on Community Node services.
</p>
<p>

There are many fake tokens out there. Only accept the genuine TronHelp token!<br />
<a href="https://tronscan.org/#/token/TronHelp">https://tronscan.org/#/token/TronHelp</a>
</p>
<p>
Issued by Community Node and the TronHelp Telegram Group:  <br />
<a href="https://tronscan.org/#/address/TWqKTJ5JhyD7rsbbWzEvS5ZZD9Q5QPPvSH">TWqKTJ5JhyD7rsbbWzEvS5ZZD9Q5QPPvSH</a>