<p>Tron Foundation pays the network with two separate programs. The first is a Representative Allowance that is paid to the top 127 Representatives (candidates and super representatives). This comes from 16 TRX per block, divided among the 127 by their percentage of the overall vote. This works out to about 0.000020 TRX per vote, and it's the same for candidate #127 as it is for SR #1.</p>

<p>The other way that Tron Foundation pays the network is with Block Rewards paid to each Super Representative for every block produced. This is 32 TRX per block. Since all SR's make blocks equally, this reward is the same for all SR's.</p>

<p>Most SR's pay out a percentage of daily earnings to their voters - but here's where it gets tricky. Because the Block Reward is the same 32 TRX per block no matter how many votes they get, as they get more votes the amount shared per vote goes down. This is why if you look at the website <a href="https://www.tokengoodies.com/">tokengoodies.com</a> you will see several SR's who pay the same percentage but different actual amounts of TRX per vote.</p>

<p>We predict that in the near future we will see a constant rise-and-fall of the SR rankings as voters seek out the SR with the highest percentage and the least amount of votes. One day #27 will have the best rewards payout, and the next day their votes might double and shrink the payout.</p>

<p>This uncertainty has led Community Node SR organization to do things a little differently.</p>

<p>We do not reward voters with a percentage of earnings. We set the payout per vote ahead of time, and adjust that payout rate every week.</p>

<p>Currently as a SR Candidate seeking election, <strong>we are paying out 0.000065 TRX per vote.</strong>  This means for every 10,000 votes cast for Community Node, the voter will receive .65 TRX per election cycle. There is a new election cycle every 6 hours, so 10,000 votes will net 2.6 TRX per day.</p>

<p>We believe that voters will see the value in a consistent, reliable payout that does not fluctuate daily.</p>
		
<p> 24 hours advance notice will be given when this advertised rate changes.</p>

<p>Our voter rewards airdrop every 6 hours beginning at 00:00 UTC.</p>

