<h1>Solidity Node</h1>
<p>We have provided a Solidity Node to the Tron Development community. All a Solidity node does is hold back the newest blocks until they have been validated, so when you get your wallet balance they are all confirmed transactions. It does, however, offer a different set of gRPC commands than a FullNode offers.</p>

<p>This node should not be used for sending transactions since we can not guarantee the security of your connection to it.</p>



<blockquote>
<p>net {<br />
	type = mainnet <br/>
}</p>
	
	
<p>fullnode = {<br/>
  ip.list = [<br/>
    &quot;45.33.100.28:50051&quot;<br/>
  ]<br/>
}</p>

<p>soliditynode = {<br/>
  ip.list = [<br/>
    &quot;45.33.100.28:50052&quot;<br/>
  ]<br/>
}</p>
</blockquote>
