<h1>Technical Specifications</h1>
<p>Debian GNU/Linux 9.1 (stretch) 4.15.12-x86_64 <br />
	2500 MHz Intel(R) Celeron(R) M processor</p>
<p></p>




<table><thead>
<tr>
<th></th>
<th>Primary Witness</th>
</tr>
</thead><tbody>
<tr>
<td>RAM</td>
<td>192 GB</td>
</tr>
<tr>
<td>CPU</td>
<td>32 Cores</td>
</tr>
<tr>
<td>SSD</td>
<td>3.8 TB</td>
</tr>
<tr>
<td>Network</td>
<td>40/10 Gbps</td>
</tr>
<tr>
<td>Transfer</td>
<td>20 TB</td>
</tr>
<tr>
<td>Cost</td>
<td>$960 month</td>
</tr>
<tr>
<td>Use</td>
<td>High CPU / High bandwidth node</td>
</tr>
</tbody></table>
<p></p>
<table><thead>
<tr>
<th></th>
<th>Backup Witness</th>
</tr>
</thead><tbody>
<tr>
<td>RAM</td>
<td>64 GB</td>
</tr>
<tr>
<td>CPU</td>
<td>16 Cores</td>
</tr>
<tr>
<td>SSD</td>
<td>1280 GB</td>
</tr>
<tr>
<td>Network</td>
<td>40/4 Gbps</td>
</tr>
<tr>
<td>Transfer</td>
<td>20 TB</td>
</tr>
<tr>
<td>Cost</td>
<td>$320 month</td>
</tr>
<tr>
<td>Use</td>
<td>Lowest Resource Cost</td>
</tr>
</tbody></table>
<p></p>
<table><thead>
<tr>
<th></th>
<th>Solidity Node</th>
</tr>
</thead><tbody>
<tr>
<td>RAM</td>
<td>32 GB</td>
</tr>
<tr>
<td>CPU</td>
<td>8 Cores</td>
</tr>
<tr>
<td>SSD</td>
<td>640 GB</td>
</tr>
<tr>
<td>Network</td>
<td>40/2 Gbps</td>
</tr>
<tr>
<td>Transfer</td>
<td>16 TB</td>
</tr>
<tr>
<td>Cost</td>
<td>$160 month</td>
</tr>
<tr>
<td>Use</td>
<td>API for wallet services</td>
</tr>
</tbody></table>