<h1>Technical Summary</h1>
<p>We have built our primary cluster instance at the Linode data center in Atlanta Georgia, USA., where they offer an OC768 incoming network connection, with 40 Gbps in and 10 Gbps out. We believe that the incoming network connection will be critical for the Super Representative nodes.</p>

<p>Currently our node has produced _______ blocks. </p>
<p>Our average block size is ____, with ____ transaction. </p>
<p>We have dropped ___ blocks for a ___ completion rate. </p>
