<h1>Network Topography</h1>
<p>Our current network consists of 1 primary witness node, and 1 backup witness node on the same /8 public subnet. We are also running a Solidity Node for wallet services.</p>
