

<div class="row">
  <div class="grid_4">

      <p>
</p>
  </div>

  <div class="grid_4">
    <h2 class="first-header">Get Started!</h2>
      <p>Community Node Organization would like to thank the Tronix community for your support. We are, however, terminating our campaign for Tron Super Representative.</p>
  </div>

  <div class="grid_4">

      <p>
</p>
  </div>
</div><!-- end row -->


