
<!-- hero area (the grey one with a slider -->
    <section id="hero" class="clearfix">
    <!-- responsive FlexSlider image slideshow -->
       <div class="row">

<!--
        <div class="grid_5">
            <h1 class="hero">Built for you</h1>
            <p>Community Node is a Tron SR candidate with a focus on community. We strive to create open source solutions for the Tron blockchain. Our token gives a portion of our revenue back to the community.
            </p>
            <p><a href="#" class="buttonlink">How we help</a> <a href="#" class="buttonlink">Support us</a></p>
        </div>

-->



        <div class="grid_7 rightfloat">

              </div><!-- end grid_7 -->
        </div><!-- end row -->
    </section><!-- end hero area -->

    <br>
    <br>
    <br>

<div class="row">
  <div class="grid_4">
    <h2 class="first-header">Your Node</h2>
      <p>Community Node Organization began with the idea that not everyone has the technical know-how to run a block producing node on the Tron blockchain, but everyone should be able to join an organization that does. We are an open community seeking to be a part of Tron governance.</p>
  </div>

  <div class="grid_4">
    <h2 class="first-header">At Your Service</h2>
      <p>Our goal is to encourage the development of Tron blockchain. We can help you create distributed applications, write helpful scripts and bots, or even administrate the operation of your node.</p>
  </div>

  <div class="grid_4">
    <h2 class="first-header">Value Token</h2>
      <p>As a Tron Super Representative candidate, we receive a small allowance to be a standby witness node. We put this allowance into the capitalization of our TRUC token. Instead of directly compensating our voters, they can choose to purchase the TRUC token if they want to participate in the shared allowance our node earns.</p>
  </div>
</div><!-- end row -->


<h2>Welcome to Community Node</h2>

<p>We are a collection of professionals who were drawn to the idea of operating a witness node on the Tron blockchain. We come from the Tronics community, from various walks of life and from all around the globe. To us, Tronix is more than just a cryptocurrency, it is a chance to take part in the decentralization of wealth and power. Our desire is to help the public use the TRX coin and the Tron blockchain to run distributed applications with their own custom tokens.</p>

<p>In return, we hope the Tronics community will recognize our value to the TRX ecosystem and vote for our organization to run one of the Super Representative witness nodes, who will get paid for their participation. Your vote costs you nothing, but it means everything to us.</p>

